---
import { LinkIcon } from "@assets/Icons.jsx";
import AddButton from "@components/AddButton.jsx";
const { product, tag } = Astro.props;
---

<div class="card bg-base-100 w-80 md:w-80 shadow-xl">
  <figure>
    <img src={product?.img} alt={product?.name} class="rounded-xl" />
  </figure>
  <div class="card-body h-[300px] justify-between">
    <div class="flex place-content-center text-center gap-2">
    <a href={product?.link} target="_blank" rel="noopener noreferrer">
      <LinkIcon />
    </a>
    <h2 class="card-title text-xs md:text-xl uppercase">
      {product?.name}
    </h2>
  </div>
    <AddButton client:load product={product} tag={tag} />
  </div>
</div>
